@{
    var url = Request.Url;
    var baseUrl = url.GetLeftPart(UriPartial.Authority);


    //var logotipo = baseUrl + "/Assets/img/logotipos/" + BLL.Usuarios.GetEmpresaId() + ".png";
    //var semlogotipo = baseUrl + "/Assets/img/logotipos/semlogo.png";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<!-- Stylesheets -->
<link href="@baseUrl/Assets/css/bootstrap.css" rel="stylesheet" />
<link href="@baseUrl/Assets/css/bootstrap-responsive.css" rel="stylesheet" />
    <style>
        @@media print{

            .noprint
            {
                display:none;
            }

            p
            {
                margin-top:2pt !important;
            }

        }
    </style>
    
     @RenderSection("Styles", false)
<body onload="window.print()">
    
    <div class="container-fluid noprint">
        <div class="row-fluid">
            <div class="col-lg-12 text-center"><button class="btn btn-primary" onclick="history.go(-1);">Voltar</button> <button class="btn btn-primary" onclick="window.print();">Clique aqui para imprimir</button></div>
        </div>
    </div>

    
    <!-- Begin page content -->
    <div class="container-fluid">
        


        @RenderBody()

    </div>


</body>
</html>
@RenderSection("scripts", required: false)