@{
    

    var manager_title = Bll.Configuracoes.Carregar("manager.title");
}
<footer>

    
        <a href="http://www.kmov.com.br" target="_blank">
            <img style="max-height:20px;" src="~/Content/images/logo-footer.png" alt="Powered By Kmov>>" title="Powered By Kmov>>" /></a>
    
</footer>
