.git
.gitignore
.dockerignore
.vscode
README.md
*.log
*.tmp
.DS_Store
Thumbs.db
node_modules/
npm-debug.log
bin_*/
bin_old*/
binOld*/
bkp/
.user.ini
*.swp
*.swo
*~
.env
.env.local
docker-compose.override.yml
