# SQL Server Configuration PRODUÇÃO
# MSSQL_DATABASE=
# MSSQL_USER=
# MSSQL_PASSWORD=

# SQL Server Configuration LOCAL
SA_PASSWORD=
MSSQL_DATABASE=
MSSQL_USER=
MSSQL_PASSWORD=

# Application Configuration
ASPNETCORE_ENVIRONMENT=Production
DEBUG=false

# Server Configuration
SQLSERVER_HOST=mssql
SQLSERVER_PORT=1433
