o#side-menu li a {
    color: #6a6c6f;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
    padding: 15px 20px;
}

#wizardControl small
{
    display: block;
}

#wizardControl a
{
    height: 50px;
}


/* Language Tool*/

.localizationTool {
    color: #333;
    background: #ddd;
    position: relative;
    z-index:1000;
}

.localizationTool .ltool-dropdown-label .ltool-language-name {
    color: #333;
}

.localizationTool li {
    display: block;
    background: #ddd;
    padding: 5px;
}

.localizationTool .ltool-language-name {
    color: #000;
}

.localizationTool .ltool-dropdown-label-arrow
{
    border-top: 10px solid #777;
}

h2 small
{
    display:block;
}

#logo {
    float: left;
    width: 180px;
    background-color: #34495e;
    padding:0px;
    height: 56px;
    text-align: center;
}


input[data-val-required],  select[data-val-required] {
    border-left: 2px solid #C0392B !important;
}

.form-group {
    min-height: 58px !important;
}


.datepicker
{
    font-size:13px;
    text-align:center;
}

.col-form {
    min-height: 75px;
}


/* Toastr custom styles*/
#toast-container {
}

#toast-container.toast-bottom-center > div, #toast-container.toast-top-center > div {
    margin: 10px auto 0;
}

#toast-container > .toast-info,
#toast-container > .toast-error,
#toast-container > .toast-warning,
#toast-container > .toast-success{
    background-image: none;
}

#toast-container > div {
    background: #fff;
    padding: 20px;
    color: #6a6c6f;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 1;
}


#toast-container > div:hover {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
}

.toast-close-button {
    color: #000;
    opacity: 0.2;
}

.toast-info {
    background: #fff;
    border-left: 6px solid #3498db;
}
.toast-success {
    background: #fff;
    border-left: 6px solid #62cb31;
}
.toast-warning {
    background: #fff;
    border-left: 6px solid #ffb606;
}
.toast-error {
    background: #fff;
    border-left: 6px solid #e74c3c;
}

.toast-progress {
    opacity: 0.6;
}

.toast-info .toast-progress {
    background-color: #3498db;
}
.toast-success .toast-progress {
    background-color: #62cb31;
}
.toast-warning .toast-progress {
    background-color: #ffb606;
}
.toast-error .toast-progress {
    background-color: #e74c3c;
}

p.form-control-static.plus
{
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}


.badge_small {
    font-size: 10px;
}