@{
    ViewBag.Title = "ConfirmarOk";
    Layout = "~/Views/Shared/_LayoutOpen.cshtml";
}

<h2>Aguarde...</h2>

@section scripts{
    <script>
        
        console.log(window.opener.document);

        //window.opener.document.forms[0].submit();
    </script>
    
}
