@model Models.Pessoa
@{
    ViewBag.Title = "Sua Foto";
    Layout = "~/Views/Shared/_FortunaLayoutModal.cshtml";
}

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12" style="">
            <legend>Selecione uma foto no formato JPG ou PNG</legend>

            <div id="dropzone">


                <form action="@Url.Content("~/Associados/Foto/" + Model.PessoaID)" class="dropzone" enctype="multipart/form-data" id="imgUpload" method="post">

                    <div class="fallback">
                        <input name="Arquivo" type="file" />
                    </div>
                    <div class="dz-message" data-dz-message><span>Clique ou arraste a foto aqui</span></div>
                </form>


            </div>

        </div>
    </div>
</div>


@section Styles{
    <link href="~/Assets/plugins/dropzone/dropzone.css" rel="stylesheet" />
    <style>
        .dropzone
        {
            border: 2px dashed #0087F7;
            border-radius: 5px;
            background: white;
        }
    </style>
}




@section Scripts {
    <script src="~/Assets/plugins/dropzone/dropzone.js"></script>

    <script>
        $(".dropzone").dropzone(
            {
                url: "@Url.Content("~/Associados/Foto/" + Model.PessoaID)",
                uploadMultiple: false,
                paramName: "Arquivo",
                acceptedFiles: "image/*",
                init: function () {
                    
                    this.on("queuecomplete", function (file) {
                        swal("Tudo certo!", "Foto alterada", "success");
                    });
                },


            }
            );
    </script>
}


