@{
    ViewBag.Title = "Projetos";
    Layout = "~/Views/Shared/_FortunaLayout.cshtml";  
}

@section Breadcrumb{

}

<div class="row-fluid">
    <div class="span12">
        @Html.ActionLink("+ Criar", "Criar", new { id = 0 }, new { @class = "btn btn-primary" })
    </div>
</div>

<h2>Mother fucker</h2>
