@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<style>
    .center
    {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        margin-top: auto;
    }
</style>
<br /><br />
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="hero-unit center">
                <h1>Erro interno do Servidor <small><font face="Tahoma" color="red">Error 500</font></small></h1>
                <br />
                <p>Ocorreu um erro na página solicitada, entre em contato com o Administrador do Sistema ou tente novamente. Utilize o botão <b>Voltar</b> do seu navegador</p>
                <p><b>Ou apenas pressione um dos botões abaixo</b></p>
                <a href="~/Home/Index" class="btn btn-large btn-info"><i class="icon-home icon-white"></i>Me leve para o início</a> <a href="mailto:negocios@ebee.com.br" class="btn btn-large btn-info"><i class="icon-envelope icon-white"></i>Entrar em contato com administrador</a>
            </div>
            <br />
        </div>
    </div>
</div>
