@model Models.Agendamento

<div class="row-fluid">
    <div class="span12">
        @Html.ActionLink("+ Adicionar", "Criar", new { id=0}, new { @class = "btn btn-primary" })
    </div>
</div>
<!-- calendar -->

<div class="row-fluid">
    <div class="span12">


        <div id="fullcalendar"></div>

        
    </div>
</div>


