@{
    ViewBag.Title = "Lista de Presença";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-info" id="alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <h4>Atenção!</h4>
                       Lista de presença disponível brevemente!
                    </div> 