<div class="header-clear"></div>
<div class="content">
    <div class="decoration"></div>
</div>
<div class="content-fullscreen full-bottom">
    <div class="portfolio-wide">
        <div class="portfolio-item">
            <a href="#!/supervisaoindex" class="wide-title">
                <h3>Supervisão</h3> <em>Clique aqui para iniciar uma nova supervisão</em>
                <img class="preload-image" src="images/pictures/bgSupervisao.jpg" alt="img"> </a>

        </div>
        
        <!--<div class="portfolio-item">
            <a href="#!/checkinout" class="wide-title">
                <h3>Check-in/out</h3> <em>Clique aqui para realizar o seu checkin</em>
                <img class="preload-image" src="images/pictures/bgMapa.jpg" alt="img"> </a>
        </div>-->
        
        <div class="portfolio-item">
            <a href="#!/registroponto" class="wide-title">
                <h3>Registro de Ponto</h3> <em>Clique aqui para realizar o registro de ponto</em>
                <img class="preload-image" src="images/pictures/bgTime.jpg" alt="img"> </a>

        </div>
    </div>
</div>
