@model Models.Query

@{
    ViewBag.Title = "Querys";
    Layout = "~/Areas/manager/Views/Shared/_Layout.cshtml";
}

@section Breadcrumb{

}

 @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
<div class="well">
    <div class="row-fluid">

        <div class="span12">
            @Html.TextAreaFor(model => model.Comando, new { @class = "span12", @rows = 20 })
            @Html.ValidationMessageFor(model => model.Comando)

        </div>

          <div class="span12 ">
            <br />
            <input type="submit" value="Excutar" class="btn btn-primary  btn-large" onclick="return confirm('Confirma a execução do comando?')">
        </div>
    </div>
</div>
 }


@section Scripts {
 <link href="~/Assets/plugins/codemirror-5.7/lib/codemirror.css" rel="stylesheet" />
    <link href="~/Assets/plugins/codemirror-5.7/theme/zenburn.css" rel="stylesheet" />
       <script src="~/Assets/plugins/codemirror-5.7/lib/codemirror.js"></script>
    <script src="~/Assets/plugins/codemirror-5.7/mode/sql/sql.js"></script>
    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById("Comando"), {
            mode: "text/x-mssql",
            indentWithTabs: true,
            smartIndent: true,
            lineNumbers: true,
            matchBrackets: true,
            autofocus: true,
            extraKeys: { "Ctrl-Space": "autocomplete" },
            lineNumbers: true,
            theme: 'zenburn'
        });


    </script>


}